.header__container {
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,.9) 10%,rgba(0,0,0,0));
  /* background-color: black; */
}

.header__logo__netflix {
  margin-top: -1vw;
  width: 11vw;
  height: 6vw;
}

.header__logo {
  height: 5vw;
  width: 10vw;
}

.header__container__options {
  display: flex;
}

.header__container__options > a {
  font-family: 'Rubik', sans-serif;
  color: whitesmoke;
  font-size: 1.3vw;
}

.header__option {
  height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   margin: 0;
}

.header__options__navbar > a {
  font-family: 'Rubik', sans-serif;
  color: whitesmoke;
  font-size: 15px;
}

.header__dropdown__navbar > a {
  font-family: 'Rubik', sans-serif;
  color: whitesmoke;
  font-size: 2vw;
  padding: 0;
}

.header__profile__icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 !important;
}

.header__profile__icon > img {
  height: 3vw;
  width: 3vw;
}