.movie__row {
  padding-left: 4vw !important;
  /* margin-top: -4vw; */
}

.movie__container__images {
  display: flex;
  overflow-y: scroll;
  padding: 0;
  margin-top: 0vw;
}

.movie__container__images::-webkit-scrollbar {
  display: none;
}


/* .tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}

.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 30px;
  height: 30px;
  border: 2px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.tile__details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 15px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
} */

.row__inner:hover {
  /* transform: translate3d(-125px, 0, 0); */
}

@media (min-width: 0px) { 
  
  .movies__title {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-size: 1.7vw;
    font-weight: 600;
    margin-top: 12px;
    /* z-index: 90; */
  }
  
  .row__inner {
    transition: 450ms transform;
    font-size: 0;
    white-space: nowrap;
    margin: 20px 0;
    padding-bottom: 5px;
  }
  
  .tile {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
  }
  
  .tile__img {
    width: 80px;
    height: 40px;
    object-fit: cover;
    z-index: 5;
  }

}


@media (min-width: 360px) { 
  
  .movies__title {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-size: 1.7vw;
    font-weight: 600;
    margin-top: 7px;
    /* z-index: 90; */
  }
  
  .row__inner {
    transition: 450ms transform;
    font-size: 0;
    white-space: nowrap;
    margin: 20px 0;
    padding-bottom: 5px;
  }
  
  .tile {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 60px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
  }
  
  .tile__img {
    width: 110px;
    height: 60px;
    object-fit: cover;
    z-index: 5;
  }

}

@media (min-width: 576px) { 
  
  .movies__title {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-size: 1.7vw;
    font-weight: 600;
    margin-top: 3px;
    /* z-index: 90; */
  }
  
  .row__inner {
    transition: 450ms transform;
    font-size: 0;
    white-space: nowrap;
    margin: 20px 0;
    padding-bottom: 5px;
  }
  
  .tile {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 80px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
  }
  
  .tile__img {
    width: 160px;
    height: 80px;
    object-fit: cover;
    z-index: 5;
  }

}

@media (min-width: 768px) {

  .movies__title {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-size: 1.7vw;
    font-weight: 600;
    margin-top: 0px;
    /* z-index: 90; */
  }
  
  .row__inner {
    transition: 450ms transform;
    font-size: 0;
    white-space: nowrap;
    margin: 20px 0;
    padding-bottom: 5px;
  }
  
  .tile {
    position: relative;
    display: inline-block;
    width: 190px;
    height: 110px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
  }
  
  .tile__img {
    width: 190px;
    height: 110px;
    object-fit: cover;
    z-index: 5;
  }

}

@media (min-width: 992px) { 

  .movies__title {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-size: 1.8vw;
    font-weight: 600;
    margin-top: 20px;
    /* z-index: 90; */
  }
  
  .row__inner {
    transition: 450ms transform;
    font-size: 0;
    white-space: nowrap;
    margin: 50px 0;
    padding-bottom: 5px;
  }
  
  .tile {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 140.625px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
  }
  
  .tile__img {
    width: 250px;
    height: 140.625px;
    object-fit: cover;
    z-index: 5;
  }
  
  .tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    transition: 450ms opacity;
  }
  
  .tile:hover .tile__details {
    opacity: 1;
  }
  
  .tile__title {
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px;
  }
  
  .row__inner:hover .tile {
    opacity: 0.6;
  }
  
  .row__inner:hover .tile:hover {
    transform: scale(1.7);
    opacity: 1;
  }
  
  .tile:hover ~ .tile {
    transform: translate3d(175px, 0, 0);
  }

}


@media (min-width: 1200px) { 
  
  .movies__title {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-size: 1.8vw;
    font-weight: 600;
    margin-top: 10px;
    /* z-index: 90; */
  }
  
  .row__inner {
    transition: 450ms transform;
    font-size: 0;
    white-space: nowrap;
    margin: 50px 0;
    padding-bottom: 5px;
  }
  
  .tile {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 140.625px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
  }
  
  .tile__img {
    width: 250px;
    height: 140.625px;
    object-fit: cover;
    z-index: 5;
  }
  
  .tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    transition: 450ms opacity;
  }
  
  .tile:hover .tile__details {
    opacity: 1;
  }
  
  .tile__title {
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px;
  }
  
  .row__inner:hover .tile {
    opacity: 0.6;
  }
  
  .row__inner:hover .tile:hover {
    transform: scale(1.7);
    opacity: 1;
  }
  
  .tile:hover ~ .tile {
    transform: translate3d(175px, 0, 0);
  }

}